force-app/main/flows/flows/DemoPicklistWithRecTypeDependencies.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>GetPicklistValuesApex</name>
        <label>GetPicklistValuesApex</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>PicklistValuesHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DemoScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <elementReference>FieldName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <elementReference>ObjectName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordTypeDeveloperName</name>
            <value>
                <elementReference>RecordTypeDevName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PicklistValuesHelper</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <dynamicChoiceSets>
        <name>picklistEntries</name>
        <collectionReference>GetPicklistValuesApex.picklistEntries</collectionReference>
        <dataType>String</dataType>
        <displayField>label</displayField>
        <object xsi:nil="true"/>
        <valueField>value</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Demo: Picklist with RecType dependencies {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demo: Picklist with RecType dependencies</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>DemoScreen</name>
        <label>DemoScreen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PicklistRecTypeDependent</name>
            <choiceReferences>picklistEntries</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Picklist RecType Dependent</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetPicklistValuesApex</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FieldName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
